/*-------------------------------------
 *	BUTTONS MASTER STYLES
 *-------------------------------------
 *
 *	Stylesheet dedicated to all button
 *	styles including colour and typography
 *
/-------------------------------------*/

/* Base Button */
.glen-btn {
  position: relative;
  width: auto;
  padding: 15px 40px;
  display: inline-block;
  text-transform: uppercase;
  color: $color-glen-green;
  background: $white;
  border: 3px solid $color-glen-green;
  cursor: pointer;
  transition: all .4s;
  vertical-align: middle;
  text-align: left;
  white-space: nowrap;
  box-shadow: 0 0 15px 0 rgba(56, 56, 56, .12);
  border-radius: 30px;

  &:hover {
    background: $color-glen-green;
    color: $white;
  }

  &:before,
  &:after {
    @include pseudo();
    width: 100%;
    height: 100%;
  }

  &:before {
    top: 0;
    left: 0;
  }

  &:after {
    bottom: 0;
    right: 0;
  }

  @media #{$phone-only} {
    letter-spacing: 1px;
  }

  // Solid
  
  &.--solid {

    &-wg {
      border-color: $white;
      background-color: $white;
      color: $color-glen-green;
        
      &:hover {
        background-color: transparent;
        color: $white;
      }
    }
    // &-?
  }

  // Outlined

  &.--outlined {

    &-wg {
      border-color: $white;
      background-color: transparent;
      color: $white;

      &:hover {
        background-color: $white;
        color: $color-glen-green;
      }
    }
    // &-?
  }

  // For typography Sheet

  &.--solid {
    border-color: $color-glen-red;
    background-color: $color-glen-red;
    color: $white;

    &:hover {
      background-color: $white;
      color: $color-glen-red;
    }
  }

  // Embedded Icon Styles

  i {
    margin: 0 0 0 5px;
  }
}
