/*-------------------------------------
 *	BUTTONS MASTER STYLES
 *-------------------------------------
 *
 *	Stylesheet dedicated to all button
 *	styles including colour and typography
 *
/-------------------------------------*/

/* Base Button */
.glen-btn {
  width: auto;
  padding: 2px 0;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  font-family: $main-font;
  color: black;
  cursor: pointer;
  transition: all .4s;
  position: relative;
  vertical-align: middle;
  text-align: left;
  white-space: nowrap;

  &:before,
  &:after {
    @include pseudo();
    width: 100%;
    height: 100%;
  }

  &:before {
    top: 0;
    left: 0;
  }

  &:after {
    bottom: 0;
    right: 0;
  }

  @media #{$phone-only} {
    letter-spacing: 1px;
  }

  i {
    margin: 0 0 0 5px;
  }
}
