/*-------------------------------------
 * UTITLITIES
/-------------------------------------*/

//Text Utilities

.u-uppercase {
  text-transform: uppercase;
}

.u-capitalize {
  text-transform: capitalize;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-center {
  text-align: center;
}

.u-align-top {
  vertical-align: top;
}

.u-align-bottom {
  vertical-align: bottom;
}

.u-align-middle {
  vertical-align: middle;
}

.u-heading-weight {
  font-weight: 700;
}

/* Disabling because of !important */
/* stylelint-disable */
.u-hidden-phone {
  @media #{$phone-only} {
    display: none !important;
  }
}

.u-hidden-tablet {
  @media #{$tablet-only} {
    display: none !important;
  }
}

.u-hidden-desktop {

  @media #{$tablet-up} {
    display: none !important;
  }
}

/* stylelint-enable */
.u-hidden {
  display: none;
}

.u-freeze-scroll {
  overflow: hidden;
}

// Color Utilities

.u-white {
  color: $white;
}

.u-black {
  color: $black;
}

.u-orange {
  color: $color-glen-orange;
}

.u-green {
  color: $color-glen-green;
}

.u-blue {
  color: $color-glen-blue;
}

.u-red {
  color: $color-glen-red;
}

.u-yellow {
  color: $color-glen-yellow;
}

.u-purple {
  color: $color-glen-purple;
}

.u-darkgrey {
  color: $color-glen-darkgrey;
}

.u-grey {
  color: $color-glen-grey;
}

// Functions

@function vw-desktop($width) {
  @return ($width / 19.2) * 1vw;
}

@function vw-laptop($width) {
  @return ($width / 12.8) * 1vw;
}

@function vw-tablet($width) {
  @return ($width / 7.68) * 1vw;
}

@function vw-phone($width) {
  @return ($width / 3.2) * 1vw;
}
