/*-------------------------------------
 * VARIABLES - PROJECT WIDE
/-------------------------------------*/

// Generic colors

$black: #000;
$white: #fff;

// Brand Colors

$color-glen-orange: #ff8421;
$color-glen-green: #3ab54a;
$color-glen-blue: #3bbcff;
$color-glen-red: #ff5756;
$color-glen-yellow: #fff730;
$color-glen-purple: #b056da;
$color-glen-darkgrey: #383838;
$color-glen-grey: #f7f7f7;


// Main Font

/* Font variables now live in typography.scss! */

// Sizing Variables

// Spacing Variables

// Button Variables

// Radius Variables

$standard-radius: 4px;

//Clipping Paths
