.glen-faq-page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.glen-faq-dialogue {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 80%;
  margin: 0 5%;
  justify-content: center;
  flex-wrap:  wrap;

  @media #{tablet-only}
  {
    margin: 0 8%
  }

  @media #{laptop-up}
  {
    margin: 0 16%
  }
}

.glen-dialogue-left { 
  display: flex;
  flex-direction: column;
  width: 53%;
}

.glen-faq-desc {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.glen-faq-box {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 10% vw-desktop(70) 5% vw-desktop(50);
}

.glen-dialogue-right {
  margin-left: 5%;
  margin-top: 6%;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 30%;
}

.glen-faq-btn {
  margin-top: 15px;
}

.glen-faq-contact {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  margin: 0 5%;
  align-items: center;
  flex-wrap:  wrap;
  overflow: hidden;

  @media #{tablet-only}
  {
    margin: 0 8%
  }

  @media #{laptop-up}
  {
    margin: 0 16%
  }

  h3 {
    color: $color-glen-purple;
  }

  .glen-contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 80%;
    margin: 5%;
    padding-top: 5%;
  }
}

.glen-faq-featured {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 85%;
  margin: 0 auto;
  justify-content: center;
  flex-wrap:  wrap;
}

.circle {
  background-repeat: repeat;
  border-radius: 50%;
  width: 100%;
  border: 2px solid #FFFF;
  //box-shadow:0 0 10px #000;
  z-index: -1;
  position: absolute;

  &.faq {
    background-image:url("../img/patterns/pattern-numbers.svg");
    background-size: 5%;
    width: 700%;
    background-color: $color-glen-grey;
    margin-top: 5%;
    // &:after {
    //   background-color: $color-glen-blue;
    // }
  }

  &.smol {
    display: flex;
    // flex-direction: row;
    background-image:url("../img/icons/icon-questionmark.svg");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    width: 7.5%;
    z-index: 1;
    background-color: #FFFF;
    box-shadow:0 0 13px grey;//#000;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 10px;
  }
}

.circle:after{
  content:"";
  padding-bottom:100%;
  display:block;
}

.glen-contact-images {
  display: flex;
  flex-direction: row;
  width: 100%;
  
}
.glen-contact-image {
  //width: 10%;
  &:nth-child( n+2 ) {
    margin-left: vw-desktop(71);
  } 
}