.glen-main-navigation {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 9001;
  height: 100px;
  background-color: $white;
}

// This is a bad style! It's just for my sanity - AW

.menu-primary-navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;

  ul {
    display: flex;
  }
}

// End of bad style

// Start of Crocodile Teeth

/*

  SUPER IMPORTANT: The way this is implemented, I don't see a way to add shadow to the teeth. That is all.

*/

$height: 49px;
$halfheight: ($height/2);
$thickness: 110%; // increase to make the line thicker
$offset: 4px;
$backgroundcolor: rgb(255, 255, 255);
$linecolor: rgb(255, 255, 255);

.glen-crocodilo {
  margin: 0;
  background: $backgroundcolor;
  position: relative;
  height: $height;
  z-index: 1;
  
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
  }

  &:before {
    height: ($height - $offset);
    top: $thickness;
    background: linear-gradient(-135deg, $linecolor $halfheight, transparent 0) 0 $halfheight, linear-gradient( 135deg, $linecolor $halfheight, transparent 0) 0 $halfheight;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: $height $height;
  }

  &:after {
    height: $height;
    top: 100%;
    background: linear-gradient(-135deg, $backgroundcolor $halfheight, transparent 0) 0 $halfheight, linear-gradient( 135deg, $backgroundcolor $halfheight, transparent 0) 0 $halfheight;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: $height $height;
  }
}
