.glen-faq-page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.glen-faq-dialogue {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 85%;
  margin: 0 auto;
  justify-content: center;
  flex-wrap:  wrap;
}

.glen-faq-left { 
  display: flex;
  flex-direction: column;
  width: 50%;
}

.glen-faq-desc {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.glen-faq-box {
  display: flex;
  flex-direction: column;
  width: 50%;
}
