.glen-home-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $black;

  footer {
    align-self: flex-end;
  }
}

.glen-home-hero-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: $color-glen-blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 30px;

  @media #{$tablet-only} {
    background-position: 75% 100px;
  }

  @media #{$laptop-up} {
    background-position: 0% 100px;
  }
}

.glen-home-hero-content-box {
  z-index: 3;
  position: relative;
  display: block;
  width: 94%;
  top: 40vh;
  left: 3%;
  padding: 25px 15px 10px;

  @media #{$phone-only} {
    
    h1 {
      font-size: 45px;
    }
  }

  @media #{$tablet-only} {
    padding: 35px 35px 25px;
    left: 3%;
    top: 45vh;
    width: 650px;
  }
  
  @media #{$laptop-up} {
    padding: 50px 50px 25px;
    top: 30vh;
    left: 10%;
    width: 700px;
  }

  @media #{$desktop-up} {
    padding: 60px 50px 25px;
    left: 15%;
  }
}

.glen-btn-opportunities
{
  @media #{$tablet-only} {
    left : 3%;
  }
  
  @media #{$laptop-up} {
    left : 4%;
  }
}
