/*

  The Mythical GLENBOX

  Add this tag to any block container
  and watch it blossom into a beautiful
  rotated colourful block shape.

  Ex.

  <div class="glenbox-green"></div>

*/

.glenbox {

  // GLENBOX GREEN

  &-green {
    width: 100%;
    height: auto;
    
    &:after {
      display: block;
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      border-radius: 30px;
      background-color: $color-glen-green;
      box-shadow: 0 0 15px 0 rgba(56, 56, 56, .12);
      transform: rotate(-1deg);
    }

    &.--binoculars {
      &:after {
        display: block;
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        border-radius: 30px;
        background-color: $color-glen-green;
        box-shadow: 0 0 15px 0 rgba(56, 56, 56, .12);
        transform: rotate(-1deg);
        background-repeat: no-repeat;
        background-image: url('../img/icons/icon-binoculars-alpha.svg');
        background-size: 250px;
        background-position: 120% 120%;

        @media #{$phone-only} {
          background-size: 150px;
          background-position: 105% 105%;
        }

        @media #{$tablet-only} {
          background-position: 110% 120%;
        }
      }
    }

    &.--house {
      &:after {
        display: block;
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        border-radius: 30px;
        background-color: $color-glen-green;
        box-shadow: 0 0 15px 0 rgba(56, 56, 56, .12);
        transform: rotate(-1deg);
        background-repeat: no-repeat;
        background-image: url('../img/icons/icon-school-alpha.svg');
        background-size: 325px;
        background-position: 120% 120%;

        @media #{$phone-only} {
          background-size: 150px;
          background-position: 105% 105%;
          background-image: none;
        }

        @media #{$tablet-only} {
          background-position: 110% 120%;
        }
      }
    }
  }

  &-green-hollow {
    width: 100%;
    height: auto;
    
    &:after {
      display: block;
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      border-radius: 30px;
      border: 2px solid $color-glen-green;
      transform: rotate(-1deg);
    }
  }

  // GLENBOX RED

  &-red {
    width: 100%;
    height: auto;
    
    &:after {
      display: block;
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      border-radius: 30px;
      background-color: $color-glen-red;
      box-shadow: 0 0 15px 0 rgba(56, 56, 56, .12);
      transform: rotate(-1deg);
    }
  }

  &-red-hollow {
    width: 100%;
    height: auto;
    
    &:after {
      display: block;
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      border-radius: 30px;
      border: 2px solid $color-glen-red;
      transform: rotate(-1deg);
    }
  }

  // GLENBOX BLUE

  &-blue {
    width: 100%;
    height: auto;
    
    &:after {
      display: block;
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      border-radius: 30px;
      background-color: $color-glen-blue;
      box-shadow: 0 0 15px 0 rgba(56, 56, 56, .12);
      transform: rotate(-1deg);
    }
  }

  &-blue-hollow {
    width: 100%;
    height: auto;
    
    &:after {
      display: block;
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      border-radius: 30px;
      border: 2px solid $color-glen-blue;
      transform: rotate(-1deg);
    }
  }

  // GLENBOX PURPLE

  &-purple {
    width: 100%;
    height: auto;
    
    &:after {
      display: block;
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      border-radius: 30px;
      background-color: $color-glen-purple;
      box-shadow: 0 0 15px 0 rgba(56, 56, 56, .12);
      transform: rotate(-1deg);
    }
  }

  &-purple-hollow {
    width: 100%;
    height: auto;
    
    &:after {
      display: block;
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      border-radius: 30px;
      border: 2px solid $color-glen-purple;
      transform: rotate(-1deg);
    }
  }

  // GLENBOX WHITE

  &-white {
    width: 100%;
    height: auto;
    
    &:after {
      display: block;
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      border-radius: 30px;
      background-color: $white;
      box-shadow: 0 0 15px 0 rgba(56, 56, 56, .12);
      transform: rotate(-1deg);
    }
  }

}

/*

  The Stupendous Iconstrip

  This is used all over GLEN and looks like
  two bars with an icon in the middle.

  Ex.

  <div class="glen-iconstrip">
    <div class="glen-iconstrip-bar"></div>
    <img class="glen-iconstrip-image" src="<?php bloginfo('template_url'); ?>/img/icons/icon-rocket.svg" alt="Image of a purple rocket" />
    <div class="glen-iconstrip-bar"></div>
  </div>

*/

.glen-iconstrip {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Iconstrip Bar Styles

.glen-iconstrip-bar {
  width: 100%;
  border-bottom: 3px solid $color-glen-darkgrey;

  @media #{$laptop-up} {
    width: 35%;
  }
}

// Iconstrip Bar Icon Styles

.glen-iconstrip-image {
  width: 35px;
  height: 35px;
  margin: 10px 10px 25px;

  @media #{$tablet-up} {
    width: 75px;
    height: 75px;
    margin: 20px;
  }
}

/*

  The Crombulent Rainbowbar

  This bar of rainbowy goodness exists on
  every page, TWICE. Navigation + Footer!

  Ex.

  <div class="glen-rainbow-bar">
      <div class="glen-rainbow-bar-segment"></div>
      <div class="glen-rainbow-bar-segment"></div>
      <div class="glen-rainbow-bar-segment"></div>
      <div class="glen-rainbow-bar-segment"></div>
      <div class="glen-rainbow-bar-segment"></div>
      <div class="glen-rainbow-bar-segment"></div>
      <div class="glen-rainbow-bar-segment"></div>
      <div class="glen-rainbow-bar-segment"></div>
      <div class="glen-rainbow-bar-segment"></div>
      <div class="glen-rainbow-bar-segment"></div>
      <div class="glen-rainbow-bar-segment"></div>
      <div class="glen-rainbow-bar-segment"></div>
    </div>

*/

.glen-rainbow-bar {
  width: 100%;
  display: flex;

  &.--mobile {
    padding-top: 5px;
  }
}

.glen-rainbow-bar-segment {
  height: 3px;
  width: 100%;

  // Color Logic

  &.--yellow {
    background-color: $color-glen-yellow;
  }

  &.--green {
    background-color: $color-glen-green;
  }

  &.--blue {
    background-color: $color-glen-blue;
  }

  &.--purple {
    background-color: $color-glen-purple;
  }

  &.--red {
    background-color: $color-glen-red;
  }

  &.--orange {
    background-color: $color-glen-orange;
  }

  // Hide Logic For Small Screens

  &:nth-child( n+7 ) {
    display: none;
  }

  @media #{$laptop-up} {
    &:nth-child( n+7 ) {
      display: block;
    }
  }
}

// BRITISH EYES ONLY

.mdev-todo {
  font-size: 24px;
  display: flex;
  justify-content: center;
  background-color: red;
  font-weight: 700;
}

/*

  The Splendid Squiggle

  This is a div that has the squiggle as a bg image!

  Use modifiers to change the colour :)

  Ex.

  <div class="glen-squiggle --yellow"></div>

*/

.glen-squiggle {
  position: relative;
  width: 100%;
  max-width: 275px;
  background-repeat: no-repeat;
  background-image: url('../img/graphics/zig-zag.svg');
  background-size: 100%;
  height: 20px;
  margin: 5px 0 20px;

  @media #{$phone-only} {
    max-width: 200px;
    margin: 5px 0 10px;
  }

  &.--blue {
    background-image: url('../img/graphics/zig-zag-blue.svg');
  }

  &.--yellow {
    background-image: url('../img/graphics/zig-zag-yellow.svg');
  }
}

/*

  The Grateful Glenquotes

  This is a div that has the quotation graphic as a bg image!

  Use modifiers to change the colour :)

  Ex.

  <div class="glenquotes --vision"></div>

*/

.glenquotes {
  position: absolute;
  z-index: 100;
  background-repeat: no-repeat;
  background-size: 100%;

  &.--programs {
    background-image: url('../img/graphics/quotation-marks-blue.svg');
    
    @media #{$phone-only} {
      width: 115px;
      height: 83px;
      top: -10%;
      left: 0;
    }

    @media #{$tablet-only} {
      width: 260px;
      height: 200px;
      top: -14%;
      left: -3%;
    }

    @media #{$laptop-only} {
      width: 200px;
      height: 175px;
      top: -12%;
      left: -3%;
    }

    @media #{$desktop-up} {
      width: 285px;
      height: 205px;
      top: -14%;
      left: -5%;
    }
  }

  &.--vision {
    width: 150px;
    height: 110px;
    background-image: url('../img/graphics/quotation-marks-red.svg');
    transform: rotate(180deg);
    top: -15%;
    left: 77%;
  
    @media #{$phone-only} {
      width: 75px;
      height: 55px;
      left: 75%;
    }
  }

  &.--welcome {
    background-image: url('../img/graphics/quotation-marks-blue.svg');
    width: 115px;
    height: 83px;
    top: -4%;
    left: 0;

    @media #{$tablet-only} {
      width: 260px;
      height: 200px;
      top: -14%;
      left: -3%;
    }

    @media #{$laptop-only} {
      width: 200px;
      height: 175px;
      top: -7%;
      left: -3%;
    }

    @media #{$desktop-up} {
      width: 285px;
      height: 205px;
      top: -10%;
      left: 3%;
    }
  }
}


// Start of Crocodile Teeth

/*

  SUPER IMPORTANT: The way this is implemented, I don't see a way to add shadow to the teeth. That is all.
  Maybe with the gradients but damn dawg.

*/

$height: 49px;
$halfheight: ($height/2);
$thickness: 110%; // increase to make the line thicker
$offset: 0;
$backgroundcolor: $white;
$linecolor: $white;

.glen-crocodilo {
  position: relative;
  height: 0;
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    top: 8px;
    background: linear-gradient(-135deg, #383838 25px, transparent 0) 0 $halfheight, linear-gradient( 135deg, #383838 $halfheight, transparent 0) 0 $halfheight;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: $height $height;
    filter: blur(4px);
    opacity: .1;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    top: $thickness;
    background: linear-gradient(-135deg, $white 25px, transparent 0) 0 $halfheight, linear-gradient( 135deg, $white $halfheight, transparent 0) 0 $halfheight;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: $height $height;
  }
}

// Kustom Ikon (Download)

.glen-download {
  display: inline;
  transition: all .1s;
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background-image: url('../img/icons/icon-download.svg');
}