.glen-team-prefooter {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 5%;

  @media #{$tablet-only} {
    padding: 55px 8%;
  }

  @media #{$laptop-up} {
    padding: 75px 16%;
  }

  // Left size Styles

  .glen-team-prefooter-left {
    width: 100%;
    order: 2;

    @media #{$tablet-only} {
      padding-right: 0;
    }

    @media #{$laptop-up} {
      padding-right: vw-laptop(100);
      width: 50%;
      order: 1;
    }
  
    @media #{$desktop-up} {
      padding-right: vw-desktop(200);
    }
  }

  // Right Side Styles

  .glen-team-prefooter-right {
    width: 100%;
    order: 1;
    padding-bottom: 65px;

    @media #{$tablet-only} {
      padding-bottom: 85px;
    }

    @media #{$laptop-up} {
      width: 50%;
      order: 2;
      padding-bottom: 0;
    }
  }

  .glen-team-prefooter-right-content {
    position: relative;
    width: 100%;
    padding: 30px 25px 80px;

    @media #{$tablet-only} {
      padding: 50px 200px 40px 50px;
    }
    

    @media #{$laptop-up} {
      width: 500px;
      padding: 65px 50px 125px;
    }
    
    h4 {
      color: $white;
    }

    p {
      color: $white;
    }
  }

  h3 {
    margin-bottom: 5px;
  }
}

/*
  If you are looking for
  glen-prefooter-boxes --team,
  its in glen-prefooter.scss!
*/
