/*

  FAQ Page Specific Styles

  If you are looking for balcony-content
  for FAQ it is in glen-balcony.scss!

*/

// Page Wrapper Styles

.glen-faq-page {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

// Dialogue Module (Singleton) Styles

.glen-faq-dialogue {
  display: flex;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  padding: 40px 5% 0;

  @media #{$tablet-only} {
    padding: 60px 8% 0;
  }

  @media #{$laptop-up} {
    padding: 80px 16% 0;
  }
}

// Dialogue Module LEFT Side Styles

.glen-dialogue-left {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media #{$laptop-up} {
    width: 60%;
  }
}

.glen-faq-desc {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media #{$laptop-up} {
    margin-bottom: 45px;
  }

  .glen-faq-btn {
    margin-top: 15px;
  }
}

.glen-hidden-dragon {
  width: 100%;
  margin: 5px 0;
  
  @media #{$tablet-only} {
    margin: 5px 0;
  }

  @media #{$laptop-up} {
    display: none;
  }
}

// Dialogue Module RIGHT Side Styles

.glen-dialogue-right {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-left: 80px;
  display: none;

  @media #{$laptop-up} {
    display: block;
    width: 40%;
  }
}

.glen-faq-box {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 50px;
}

// FAQ Bumper Module (Singleton) Styles

.glen-faq-bumper {
  width: 100%;
  position: relative;
  padding: 0 5% 25px;

  @media #{$tablet-only} {
    padding: 0 8% 60px;
  }

  @media #{$laptop-up} {
    padding: 0 16% 150px;
  }

  .glen-faq-bumper-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @media #{$tablet-up} {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

// Address is a compound element of <img + p>

.glen-faq-bumper-address {
  display: flex;
  align-items: flex-start;

  img {
    display: block;
    width: 15px;
    height: auto;
    margin-right: 5px;
  }
}
