.glen-footer {
  width: 100%;
  position: relative;
  background: $color-glen-darkgrey;

  .glen-rainbow-bar {
    padding: 0;
    background: transparent;
    width: 100%;
  }
}

.glen-footer-content {
  display: flex;
  justify-content: center;
  padding: 5px 5%;

  @media #{$tablet-only} {
    padding: 5px 8%;
    justify-content: center;
    flex-direction: column;
  }

  @media #{$phone-only} {
    padding: 10px 5%;
  }

  @media #{$laptop-up} {
    justify-content: space-between;
    padding: 10px 16%;
  }

  span {
    color: $white;
    font-size: 12px;

    @media #{$tablet-up} {
      font-size: 13px;
    }
  }
}

.glen-footer-info {
  display: flex;
  align-items: center;

  @media #{$phone-only} {
    display: none;
  }

  @media #{$tablet-only} {
    justify-content: space-between;
    display: none;
  }

  .glen-footer-info-compound {
    display: flex;
    align-items: center;
  }

  .glen-footer-icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }

  .glen-footer-address {
    text-transform: uppercase;
  }

  .glen-footer-phone {
    margin-left: 20px;
    color: $white;
    margin-bottom: 0;
    font-size: 12px;

    @media #{$tablet-only} {
      margin-left: 100px;
      display: none;
    }

    @media #{$tablet-only} {
      align-self: flex-end;
    }

    @media #{$laptop-up} {
      margin-left: 50px;
      font-size: 13px;
    }
  }
}

.glen-footer-copyright {
  display: flex;
  align-items: center;

  @media #{$tablet-only} {
    width: 100%;
    justify-content: center;
    margin: 10px 0;
  }
}
