.glen-vision-mission {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 5%;
  background-repeat: repeat;
  background-color: $color-glen-red;
  background-image: url('../img/patterns/pattern-shapes.svg');


  @media #{$tablet-only} {
    padding: 60px 10%;
    background-size: 42%;
  }

  @media #{$laptop-up} {
    padding: 60px 23%;
    background-size: 17%;
    background-position: center;
  }

  h2 {
    color: $white;
  }

  p {
    color: $white;
    line-height: 120%;
    font-size: 24px;

    @media #{$tablet-up} {
      font-size: 20px;
    }
  }
}

.glen-bigimage {
  width: 100%;
  background-color: $color-glen-orange;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;

  @media #{$tablet-only} {
    height: 550px;
    background-position: 75% center;
  }

  @media #{$laptop-up} {
    height: 900px;
    margin-bottom: 100px;
  }
}

.glen-vision-bigimage {
  .glen-bigimage {
    @media #{$phone-only} {
      background-position: 66% center;
    }
  }
}
