.glen-main-navigation {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 9001;
  height: 100px;
  background-color: $white;
}

// This is a bad style! It's just for my sanity - AW

.menu-primary-navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;

  ul {
    display: flex;
  }
}

// End of bad style