/*

  GLEN Hero Module

  AW

*/

.glen-hero-image {
  width: 100%;
  height: 475px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @media #{$phone-only} {
    background-attachment: scroll;
  }

  @media #{$tablet-only} {
    height: 675px;
  }

  @media #{$laptop-up} {
    height: 775px;
  }

  &.--faq {
    background-color: $color-glen-grey;
    @media #{$phone-only} {
      background-position: center bottom;
    }

    @media #{$tablet-only} {
      background-position: 60% bottom;
    }
  }

  &.--infants {
    background-color: $color-glen-orange;

    @media #{$phone-only} {
      background-size: cover;
      background-position: 19% 25%;
    }

    @media #{$tablet-only} {
      background-position: 15% bottom;
    }
  }

  &.--menus {
    background-color: $color-glen-green;

    @media #{$phone-only} {
      background-size: cover;
      background-position: 50% 55px;
    }

    @media #{$tablet-only} {
      background-position: bottom;
    }
  }

  &.--preschoolers {
    background-color: $color-glen-blue;

    @media #{$phone-only} {
      background-position: 50% bottom;
    }

    @media #{$tablet-only} {
      background-position: 68% bottom;
    }
  }

  &.--team {
    background-color: $color-glen-red;
    background-size: cover;
    background-position: 0 20%;

    @media #{$tablet-only} {
      background-size: cover;
    }
  }

  &.--toddlers {
    background-color: $color-glen-yellow;

    @media #{$tablet-only} {
      background-position: 12% center;
    }

    @media #{$phone-only} {
      background-position: 15% center;
    }
  }

  &.--vision {
    background-color: $color-glen-purple;

    @media #{$phone-only} {
      background-size: cover;
      background-position: 70% 40%;
    }

    @media #{$tablet-only} {
      background-size: 225%;
      background-position: 50% 40%;
    }
  }

  &.--welcome {
    background-color: $color-glen-darkgrey;
    background-size: cover;
    background-position: 0% 60%;

    @media #{$phone-only} {
      background-size: cover;
      background-position: 65% 40%;
    }

    @media #{$tablet-only} {
      background-size: cover;
      background-position: 65% 80%;
    }
  }
}

// Post-Hero Image Content Container Styles

.glen-hero-content {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.--sticker {
    background-color: $color-glen-grey;
    background-repeat: repeat;
    background-image: url('../img/patterns/pattern-numbers.svg');
    background-size: 120%;

    padding: 35px 5%;

    @media #{$tablet-only} {
      padding: 85px 8%;
      background-size: 70%;
    }

    @media #{$laptop-up} {
      padding: 100px 20%;
      background-size: 30%;
    }
  }

  &.--split {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 35px 5%;

    @media #{$tablet-only} {
      padding: 85px 8%;
    }

    @media #{$laptop-up} {
      padding: 100px 16%;
    }
  }
}

// Basic Hero Styles

.glen-hero-basic {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 35px 5%;

  @media #{$tablet-only} {
    padding: 85px 8%;
  }

  @media #{$laptop-up} {
    padding: 100px 20%;
  }

  a {
    margin-top: 10px;
  }
}

// Sticker Hero Styles

.glen-hero-sticker {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $white;
  border-radius: 30px;
  box-shadow: 0 0 15px 0 rgba(56, 56, 56, .12);
  padding: 30px 25px;

  @media #{$tablet-only} {
    padding: 40px 45px;
  }

  @media #{$laptop-up} {
    padding: 50px 60px;
  }

  a {
    @media #{$tablet-only} {
      margin-top: 10px;
    }

    @media #{$laptop-up} {
      margin-top: 30px;
    }
  }
}

// Split Hero Styles

.glen-hero-split-left {
  width: 100%;

  @media #{$laptop-up} {
    width: 50%;
    padding-right: 85px;
  }
}

.glen-hero-split-right {
  width: 100%;

  @media #{$laptop-up} {
    width: 50%;
  }
}

// Misc Styles

.glen-vision-hero-glenbox {
  position: relative;
  width: 100%;
  margin: 25px 0 0;
  padding: 33px 22px;

  @media #{$tablet-up} {
    width: 575px;
    padding: 65px 45px;
  }

  @media #{$laptop-up} {
    margin: 0;
  }

  span {
    color: $white;
    font-family: $cursive-font;
    letter-spacing: $cursive-letter-spacing;
    font-size: 24.5px;

    @media #{$tablet-up} {
      font-size: 50px;
    }
  }
}
